css
Copy code

.table-wrapper {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    margin-top: 80px;
    margin-left: 200px;
    background-color: rgba(255, 0, 0, 0.3);
    color: #eee;
    width: 75%;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #000000;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

th {
    font-weight: 700;
    background-color: #00008B;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

td:first-child {
    font-weight: 700;
}

nav {
    position: fixed;
    top: = 0;
    left: = 0;
    width: 150px;
    height: 100%;
    background-color: #000000;
    padding: 15px;
}

/* remove o padding e margin padrão da lista, e define o display como flex */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}

nav li {
    margin-bottom: 20px;
}

/* define a aparência dos links. Eles são exibidos como blocos com um fundo transparente,
texto branco e um preenchimento de 10px 15px. Eles também têm um raio de borda de 5px e uma
transição suave de cor de fundo quando o mouse passa por cima */
nav ul li a {
    display: block;
    color: #00008B;
    text-decoration: none;
    padding: 8px 5px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

/* define a cor de fundo quando o mouse passa sobre o link. */
nav ul li a:hover {
    background-color: #3B3021;
}

/* Define o estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-image: url('fotofundo.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-attachment: fixed; /* Fixa a imagem para que ela não role com a página */
    background-color: black;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url('fotofundocel.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: black;
    }
}

/* Define o estilo de um elemento de cabeçalho */
h1 {
    font-size: 1em;
    font-weight: bold;
    color: #eee;
    text-align: center;
    font-family: Monaco;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
    margin-left: 300px;
    color: #eee;
    text-align: left;
    font-family: Monaco;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

/* Define o estilo de um link */
a {
    color: #a7a6a6;
    text-decoration: none;
    text-align: center;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

p {
    font-family: times;
    color: #eee;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    text-decoration: none;
    text-align: left;
    margin-left: 300px;
    padding: 5px;
}

/* Define o estilo de um botão */
.btn {
    margin-top: 40px;
    margin-right: -280px;
    margin-left: 300px;
	display: inline-block;
	padding: 12px 24px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #4CAF50;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #3e8e41;
}